# Production Environment Example for Vouchit

# Backend
PORT=3001
DATABASE_URL=your_production_database_url
JWT_SECRET=xFmYMN3h27JwNjw2Bcf95YaGC1BBn+s8CfAqR/EhC8w=

# Frontend
NEXT_PUBLIC_API_URL=https://your-backend-domain.com
